<h1>Update Users Profile</h1>

<%= render 'layouts/form' %>

            <div class="gravatar_edit">
                <%= gravatar_for @user %>
                 <a href="http://gravatar.com/emails" target="_blank">Change image</a>
            </div>          